[submodule "extern/metamod"]
	path = extern/metamod
	url = https://github.com/alliedmodders/metamod-hl1
[submodule "extern/hlsdk"]
	path = extern/hlsdk
	url = https://github.com/alliedmodders/hlsdk
[submodule "extern/luau"]
	path = extern/luau
	url = https://github.com/luau-lang/luau
